// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.content, .logo {
	height: 100vh;
	width: 100%;
}

.rectangle {
	width: 90%;
	height: auto;
	border-radius: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.btn {
	border: .5px solid;
	border-radius: 30px;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-transform: uppercase;
	font-size: 14px;
}

.row {
	width: 100%;
}

.iwaver {
	.row {
		width: 50em;
		max-width: 100%;
		flex-direction: row !important;
		@media screen and (max-width:575px) {
			flex-direction: column-reverse !important;
			max-width: 90vw;
			margin: auto;
		}
		display: flex;
		.col-sm-8:before {
			position: absolute;
			border: 1.5px solid $dark-grey-text;
			left: 25px;
			right: 25px;
			top: 25px;
			bottom: 25px;
			content: "";
		}
		.col-sm-8 {
			background-color: $dark-blue-accents;
			margin-left: 0px;
			margin-right: 0px;
			border-radius: 0px;
			text-align: center;
			@media screen and (max-width:575px) {
				padding: 3em;
			}
			padding: 7em;
			#price {
				font-family: $lust-script;
				color: $secondary;
				font-size: 104px;
				margin-bottom: 0px;
			}
			#description {
				font-family: $futura-bold, sans-serif;
				color: $primary;
				font-size: 32px;
				margin-top: -1em;
				text-transform: uppercase;
			}
			#subtext {
				font-family: $proxima-nova-medium, sans-serif;
				color: $secondary;
				font-size: 19px;
				margin-top: -1em;
			}
		}
		.col-sm-4 {
			border-radius: 0px 30px 30px 00px;
			background-color: $primary;
			padding: 3em;
			@media screen and (max-width:575px) {
				border-radius: 30px 30px 0px 00px;
			}
			p {
				color: $secondary;
				font-family: $futura-bold, sans-serif;
				font-size: 41px;
				margin-bottom: 1.2em;
				@media screen and (max-width:575px) {
					font-size: 20px;
				}
			}
			.btn {
				width: 13.5em;
				padding: 1em;
				background-color: $dark-blue-buttons;
				color: $secondary;
				margin: auto;
			}
			.btn:hover {
				background-color: $secondary;
				color: $primary;
			}
		}
	}
}

.iwaver-stacked {
	.row {
		flex-direction: column-reverse !important;
		width: 90%;
		margin-top: 10vh;
		display: flex;
		max-height: 50vh;
		margin-left: auto;
		margin-right: auto;
		.col-sm-8:before {
			position: absolute;
			border: 1.5px solid $dark-grey-text;
			left: 25px;
			right: 25px;
			top: 25px;
			bottom: 25px;
			content: "";
		}
		.col-sm-8 {
			background-color: $dark-blue-accents;
			margin-left: 0px;
			margin-right: 0px;
			border-radius: 0px;
			text-align: center;
			padding: 3em;
			max-width: 100% !important;
			#price {
				font-family: $lust-script;
				color: $secondary;
				font-size: 3.6em;
				margin-bottom: 0px;
			}
			#description {
				font-family: $futura-bold, sans-serif;
				color: $primary;
				font-size: 1.3em;
				margin-top: -1em;
				text-transform: uppercase;
			}
			#subtext {
				font-family: $proxima-nova-medium, sans-serif;
				color: $secondary;
				font-size: .8em;
				margin-top: -1em;
			}
		}
		.col-sm-4 {
			background-color: $primary;
			padding: 1.5em;
			border-radius: 30px 30px 0px 00px;
			max-width: 100% !important;
			max-height: 100px !important;
			margin: auto;
			justify-items: baseline;
			.row {
				flex-direction: row !important;
				margin-top: 0;
				margin-right: 0;
				width: 100%;
			}
			p {
				color: $secondary;
				font-family: $futura-bold, sans-serif;
				font-size: 22px;
				padding: 0px;
				margin-top: .3em;
				margin-bottom: 0;
			}
			.btn {
				width: 71px;
				padding: .5em;
				background-color: $dark-blue-buttons;
				color: $secondary;
				margin: auto;
				float: right;
			}
			.btn:hover {
				background-color: $secondary;
				color: $primary;
			}
		}
	}
}

.quote {
	height: 3em;
}

.name {
	text-transform: uppercase;
	font-family: $futura-bold, sans-serif;
	font-size: 21px;
	color: $primary;
}

#schedule-service {
	background: $primary;
	margin-top: 50px;
	.text-icon-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 90%;
		p {
			color: $secondary;
			font-family: $futura-bold, sans-serif;
			font-size: 25px;
			line-height: 1.5;
			margin: auto;
		}
		.fa-clock {
			color: $secondary;
			font-size: 55px;
			margin: 10px;
			margin-right: 20px;
		}
	}
	.btn {
		color: $secondary;
		background-color: $dark-blue-buttons;
		border-color: $secondary;
		width: 90%;
	}
	.btn:hover {
		background-color: $secondary;
		color: $primary;
	}
}

#very-close {
	background: $light-grey-section;
	margin-top: 50px;
	p {
		line-height: 1.5;
	}
	#too-close {
		font-family: $futura-bold, sans-serif;
		font-size: 27px;
		color: $dark-blue-accents;
	}
	#safety {
		font-family: $proxima-nova-medium, sans-serif;
		font-size: 17px;
		color: $dark-grey-text;
	}
	.btn {
		color: $primary;
		background-color: $light-blue-buttons;
		border-color: $primary;
		width: 90%;
		span {
			font-size: 20px;
			font-weight: bold;
			margin-left: 15px;
		}
	}
	.btn:hover {
		background-color: $primary;
		color: $secondary;
	}
}

.content {
	background-image: url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/squiggle.png");
	background-size: cover;
	background-position: -50% 25vh;
	background-size: 80%;
	background-repeat: no-repeat;
	height: auto;
	.col-sm-3 {
		height: 100%;
		overflow: auto;
		.call-us {
			background-color: $primary;
			color: $secondary;
			padding: 2.5px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			border-radius: 0px 0px 30px 30px;
			position: -webkit-sticky;
			position: sticky;
			height: auto;
			top: 0;
			.fas {
				font-size: 25px;
				margin-right: 15px;
				margin-top: 15px;
			}
			p {
				font-family: $futura-bold, sans-serif;
				font-weight: bold;
				font-size: 15px;
				margin-top: 15px;
				span {
					font-family: $futura-medium, sans-serif;
				}
			}
		}
	}
	#feel-good {
		margin-top: 20px;
		margin-left: 20px;
		font-family: $rift-bold, sans-serif;
		font-size: 35px;
		color: $primary;
		.inside {
			color: $light-grey-text;
		}
	}
	#air {
		text-transform: uppercase;
		font-family: $futura-bold, sans-serif;
		font-size: 34px;
		color: $dark-blue-accents;
		@media screen and (min-width:576px) {
			text-align: center;
		}
		margin-top: 50px;
		margin-left: 10px;
	}
	.nested-row {
		flex-direction: row !important;
		@media screen and (max-width:575px) {
			flex-direction: column-reverse !important;
		}
		.col-sm-6 {
			padding: 0px 2vw;
			#gotyerback {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 60%;
				max-width: 250px;
				height: auto;
				margin-top: 80px;
			}
			#block-text {
				height: auto;
				width: 80%;
				color: $dark-grey-text;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				font-family: $proxima-nova-medium, sans-serif;
				font-size: 19px;
			}

		}
	}
	.half-the-battle {
		background-color: $dark-blue-accents;
		margin-top: 10vh;
		overflow: hidden;
		@media screen and (max-width: 990px) {
			background-size: 80%;
		}
		.image.rectangle {
			background:
				linear-gradient(
					rgba(50, 62, 72, 0.6),
					rgba(50, 62, 72, 0.6)
			  	),
				url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/scanner.png");
			background-size: cover;
			background-repeat: no-repeat;
			margin-left: 0px;
			margin-top: 10vh;
			padding: 0px;
			border-radius: 0px 30px 30px 00px;
			width: 40vw;
			height: 40vh;
			@media screen and (max-width: 990px) {
				width: 60vw;
				height: 30vh;
			}
			@media screen and (max-width: 572px) {
				width: 80vw;
				height: 50vh;
			}
		}
		.heading-text {
			margin-top: -45vh;
			padding: 10% 5%;
			max-width: 100%;
			h1 {
				font-family: $futura-bold, sans-serif;
				font-size: 30px;
				color: $secondary;
				margin-left: 20vw;
				@media screen and (max-width: 572px) {
					margin-left: 5px;
				}
				margin-top: 60px;
				line-height: 1.9;
				max-width: 80%;
				text-transform: uppercase;
				letter-spacing: 2px;
				span {
					color: $primary;
				}
			}
			p {
				font-family: $proxima-nova-medium, sans-serif;
				font-size: 17px;
				color: $secondary;
				margin-left: 20vw;
				@media screen and (max-width: 572px) {
					margin-left: 5px;
					margin-top: 15vh;
				}
				margin-top: 20px;
				max-width: 80%;
			}
		}
		.info-rectangles {
			flex-direction: row !important;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: space-evenly;
			@media screen and (max-width:575px) {
				flex-direction: column !important;
			}
			.col {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.rectangle {
					border: $dark-grey-text solid 1px;
					width: 100%;
					margin-top: 15px;
					margin-bottom: 15px;
					display: flex;
					flex-direction: row;
					line-height: 1.5em;
					height: 5.5em;
					overflow: hidden;
					p {
						color: $secondary;
						margin: 0px;
						font-family: $proxima-nova-medium, sans-serif;
						font-size: 21px;
					}
				}
				.rectangle.left {
					margin-left: -30px;
					margin-right: 5%;
					p {
						margin-left: 40%;
					}
				}
				.rectangle.right {
					margin-right: -30px;
					@media screen and (max-width:575px) {
						p {
							margin-left: 20%;
						}
					}
				}
			}
		}
		.learn-more {
			flex-direction: row !important;
			@media screen and (max-width:575px) {
				flex-direction: column !important;
			}
			display: flex;
			margin-top: 30px;
			margin-right: 0px;
			margin-left: 0px;
			background-color: $medium-blue-accents;
			align-items: center;
			align-content: center;
			padding: 2em;
			p {
				color: $secondary;
				font-family: $futura-medium, sans-serif;
				font-size: 21px;
				margin: auto;
				padding: .5em;
				text-align: center;
				height: 100%;
			}
			.btn {
				background-color: $primary;
				width: 60%;
				color: $secondary;
				margin: auto;
			}
			.btn:hover {
				background-color: $secondary;
				color: $primary;
			}

		}
	}
	.folks {
		margin-top: 30px;
		.row {
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			max-width: 100%;
			align-items: center;
			align-content: center;
			justify-content: center;
			padding: 2em;
			flex-direction: row !important;
			@media screen and (max-width:575px) {
				flex-direction: column !important;
			}
			display: flex;
			.col {
				margin: auto;
				padding-left: 5em;
				padding-right: 5em;
				max-width: 100%;
			}
			.col-sm-4 {
				padding: 0px;
				text-align: center;
			}
			h2 {
				font-family: $futura-bold, sans-serif;
				font-size: 34px;
				margin: auto;
				padding: .5em;
				height: 100%;
				width: 80%;
				letter-spacing: .1em;
				line-height: 1.5em;
			}
			.btn {
				background-color: $light-blue-buttons;
				width: 60%;
				color: $primary;
				margin: auto;
			}
			.btn:hover {
				background-color: $primary;
				color: $secondary;
			}
			.person {
				max-height: 15em;
				max-width: 100%;
			}
			p {
				font-family: $proxima-nova-medium, sans-serif;
				font-size: 19px;
				width: 70%;
				margin-left: 1em;
			}

			#folks-title {
				@media screen and (max-width:575px) {
					padding: 0px;
				}
			}
		}
		.row:nth-child(3) {
			flex-direction: row !important;
			@media screen and (max-width:575px) {
				flex-direction: column-reverse !important;
			}
		}
	}
	.maintenance {
		background-color: $light-grey-section;
		margin-top: -10em;
		padding-top: 15em;
		overflow: hidden;
		@media screen and (max-width: 990px) {
			background-size: 80%;
		}
		h1 {
			text-transform: uppercase;
			font-family: $futura-bold, sans-serif;
			font-size: 34px;
			color: $primary;
			letter-spacing: .2em;
			margin-left: 10vw;
		}
		.row {
			flex-direction: row !important;
			align-items: center;
			@media screen and (max-width:575px) {
				flex-direction: column !important;
			}
			.image.rectangle {
				background: url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/snowhouse.png");
				background-size: cover;
				background-repeat: no-repeat;
				margin-left: 0px;
				margin-top: 10vh;
				padding: 0px;
				border-radius: 0px 30px 30px 00px;
				width: 40vw;
				height: 30vh;
				@media screen and (max-width: 990px) {
					width: 60vw;
					height: 30vh;
				}
				@media screen and (max-width: 572px) {
					width: 80vw;
					height: 30vh;
				}
			}
			p {
				margin-top: 5vh;
				margin-left: 10vw;
				font-family: $proxima-nova-medium, sans-serif;
				font-size: 19px;
				span {
					font-family: $proxima-nova-bold, sans-serif;
				}
			}
			.btn {
				background-color: $light-blue-buttons;
				color: $primary;
				margin-left: 10vw;
				margin-right: auto;
				width: 25%;
				padding: 1em;
			}
			.btn:hover {
				background-color: $primary;
				color: $secondary;
			}
		}
		.col-sm-4 {
			padding: 8em;
			align-content: center;
			img {
				max-width: 10em;
				padding: auto;
				margin: 1em;
			}
		}
	}
}

#logo {
	right: 0;
	max-width: 10vw;
	top: 6vh;
	height: auto;
	position: absolute;
}

#about {
	.header-image {
		width: 85%;
	}
}

.interior-content {
	background-image: url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/squiggle.png");
	background-size: cover;
	background-position: -50% 50vh;
	background-size: 50%;
	background-repeat: no-repeat;
	height: auto;
	.header-image {
		margin-left: -10%;
		width: 100%;
	}
	.heading-text {
		padding-top: 30px;
		max-width: 600px;
		margin: 0 auto!important;
		h1 {
			margin-bottom: 30px;
			text-transform: uppercase;
			color: $dark-grey-text;
		}
		h2 {
			color: $primary;
			font-family: $futura-bold, sans-serif;
			font-size: 22px;
			text-transform: uppercase;
			margin-top: 30px;
		}
		p {
			font-family: $proxima-nova-medium, sans-serif;
			font-size: 19px;
			margin-top: 20px;
			color: $dark-grey-text;
		}
		img {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	.wpcf7 {
		width: 100%;
		input, select {
			border-radius: 30px !important;
			height: 50px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.btn:hover {
			background-color: $primary;
			color: $secondary;
		}
	}
}

.about-content {
	background-image: url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/squiggle.png");
	background-size: cover;
	background-position: -50% 50vh;
	background-size: 50%;
	background-repeat: no-repeat;
	height: auto;
	.header-image {
		margin-left: -10%;
		width: 80vw;
	}
	.heading-text {
		padding-top: 30px;
		max-width: 600px;
		margin: 0 auto!important;
		h1 {
			margin-bottom: 30px;
		}
	}
}

#great-folks {
	margin-bottom: -40px;
	background-color: $primary;
	border-radius: 00px 30px 30px 0px;
	width: 25vw;
	left: 0;
	margin-left: 0%;
	z-index: 200;
	height: 70px;
	padding: auto;
	p {
		font-family: $futura-bold, sans-serif;
		font-size: 22px;
		text-transform: uppercase;
		color: $secondary;
		margin-top: -8px;
	}
}

.bottom-folks {
	background-color: $light-grey-section;
	width: 100%;
	height: fit-content;
	padding: 40px;
	.rectangle {
		margin
		p {
			font-family: $futura-bold, sans-serif;
			font-size: 22px;
		}
	}
	.carousel-item {
		.row {
			align-items: center;
			justify-content: center;
			display: flex;
			max-width: 50%;
			margin: auto;
			.d-block {
				max-height: 200px;
				max-width: 200px;
				margin-left: 0;
			}
		}
	}
	.fas {
		color: $primary;
	}
}

@media screen and (max-width:990px) {
	.row {
		flex-direction: column-reverse;
		.content {
			order: 2;
		}
		.logo {
			order: 1;
			height: 85vh;
			.background {
				background-image: url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/background-image.png");
				background-repeat: no-repeat;
				background-position: 25% center;
				width: 100vw;
				height: 100%;
				display: flex;
				#overlay {
					width: 100vw;
					height: auto;
					object-fit: cover;
					object-position: 85% 10%;
				}
				#mighty-logo {
					right: 0;
					max-width: 30vw;
					top: -6vh;
					height: auto;
					position: absolute;
				}
			}
		}
	}
}

@media screen and (min-width:991px) {
	.row {
		.col-lg-7 {
			max-width: 60vw;
		}
		.col-lg-5 {
			max-width: 40vw;
		}
		flex-direction: row;
		.content {
			width: 60vw;
			order: 1;
		}
		.logo {
			width: 40vw;
			order: 2;
			.background {
				background-image: url("/wordpress-site/wp-content/themes/mightyHVACtheme/sass/assets/images/background-image.png");
				background-repeat: no-repeat;
				position: fixed;
				top: 0;
				left: 0;
				width: 40vw;
				height: 100vh;
				margin-left: 60vw;
				z-index: -10;
				display: flex;
				justify-content: right;
				#overlay {
					align-self: flex-end;
					width: 40vw;
					height: auto;
				}
				#mighty-logo {
					position: absolute;
					margin-left: 30vw;
					margin-top: 10vh;
					max-width: 10vw;
				}
			}
		}
	}
}

#top-bar {
	#wrapper-navbar{
		@media screen and (min-width:576px) {
			height: 93.5px;
			border-bottom: 2px solid $dark-blue-accents;
		}
		.navbar {
			@media screen and (min-width:576px) {
				width: 60vw;
			}
			@media screen and (max-width:575px) {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index: 10000000;
			}
			padding: 0px;
			display: flex;
			.dropdown-toggle::after {
				display: none;
			}
			.navbar-toggler {
				background-color: $primary;
				border-radius: 0px 0px 5px 0px;
				z-index: 10000001;
				height: 35px;
				.fas {
					color: $secondary;
				}
			}
			.navbar-toggler[aria-expanded="false"] .fa-times {
				display: none;
			}
			.navbar-toggler[aria-expanded="true"] .fa-bars {
				display: none;
			}
			.navbar-collapse.show, .navbar-collapse.collapsing{
				background-color: $primary;
				margin-top: -35px;
				width: 100%;
				height: 100vh;
				.nav-item:first-child{
					padding-top: 40px;
				}
				.nav-item {
					padding-bottom: 10px;
					justify-content: center;
					width: 100vw;
					.fa-chevron-down {
						color: $dark-blue-accents;
					}
					.fa-chevron-up {
						color: $primary;
					}
					.dropdown-toggle[aria-expanded="false"] .fa-chevron-up {
						display: none;
					}
					.dropdown-toggle[aria-expanded="true"] .fa-chevron-down {
						display: none;
					}
					.dropdown-toggle[aria-expanded="true"] {
						background-color: $dark-blue-accents;
					}
					.nav-link {
						padding-top: 0px;
						padding-bottom: 0px;
						padding-left: 60px;
						color: $secondary;
						font-size: 27px;
						font-family: $proxima-nova-medium, sans-serif;
						width: 101%;
						letter-spacing: .2em;

					}
					.dropdown-menu {
						background-color: $dark-blue-accents;
						width: 105%;
						margin-top: -5px;
						border: none;
						.dropdown-item {
							color: $secondary;
							padding-left: 60px;
							font-size: 22px;
						}
						.dropdown-item:hover {
							color: $dark-blue-accents;
						}
					}
				}
			}
			.collapse:not(.show) {
				flex-direction: column;
				align-items: stretch;
				align-content: stretch;
				justify-content: space-between;
				height: 100%;
				.navbar-nav {
					height: 100%;
					width: 100%;
					justify-content: space-evenly;
					align-items: stretch;
					.nav-item {
						height: 100%;
						font-size: 15px;
						font-family: $futura-medium, sans-serif;
						letter-spacing: .2em;
						.nav-link {
							text-transform: uppercase;
							padding-top: 0px;
							padding-bottom: 0px;
							height: 100%;
							color: $dark-blue-accents;
							line-height: 91px;
							.fas {
								display: none;
							}
						}
						.dropdown-menu {
							background-color: $primary;
							border: none;
							border-radius: 0px 0px 30px 30px;
							.arrow-up {
								width: 0;
								height: 0;
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								border-bottom: 12px solid $primary;
								margin-left: 30px;
								margin-top: -18px;
							}
							.dropdown-item {
								color: $secondary;
								padding-left: 20px;
								font-size: 18px;
								font-family: $proxima-nova-medium;
							}
							.dropdown-item:hover {
								background-color: transparent;
								color: $dark-blue-accents;
							}
						}
					}
					.active {
						.nav-link {
							color: $primary;
							border-bottom: 4px solid $primary;
						}
					}
				}
			}
		}
	}
}
